@model List<COCAS.Models.CreateResponseViewModel>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=11; IE=10; IE=9; IE=8; IE=7; IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8" />
    <title>- صفحة طلب @Model.FirstOrDefault(item => true).Request.StudentID</title>
    <link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap4.css">
    <link rel="stylesheet" type="text/css" href="~/css/Login/style_Ar.css?ver=003">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body dir="rtl">
    <div class="text-center" style="width: 70%; padding-right: 10px;">
        <span style="padding-left: 40px; padding-bottom: 30px">@Model.FirstOrDefault(item => true).Request.Student.FullName</span>
        @Model.FirstOrDefault(item => true).Request.StudentID
        <form id="form" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <table class="text-center" style="margin-top: 15px;">
                <thead>
                    <tr style="border-bottom-style: solid;">
                        <td>رمز المقرر</td>
                        <td>الشعبة</td>
                        <td>مسمى المقرر</td>
                        <td>عدد الساعات</td>
                        <td style="margin: 50px; padding-right: 20px;">قبول</td>
                        <td>السبب (اختياري)</td>
                    </tr>
                </thead>
                @for (var i = 0; i < Model.Count(); i++)
                {
                    <tbody>
                        <tr style="padding-bottom: 2px;">
                            <td style="min-width:100px;">
                                @Model[i].Request.Section.CourseCode
                            </td>
                            <td style="min-width:100px;">
                                @Model[i].Request.SectionNumber
                            </td>
                            <td style="min-width:300px;">
                                @Model[i].Request.Section.Course.Title
                            </td>
                            <td style="min-width:100px;">
                                @Model[i].Request.Section.Duration
                            </td>
                            <td style="display: none;"><input asp-for="@Model[i].Request.ID" type="hidden" /></td>
                            <td style="padding-right: 20px;"><input asp-for="@Model[i].Status" /></td>
                            <td style="padding-right: 20px;"><input asp-for="@Model[i].Reason" style="border-radius: 3px; height: 30px;" /></td>
                        </tr>
                    </tbody>
                }
            </table>
            <input class="btn btn-default" type="submit" value="إرسال" style="margin-top: 15px;" />
        </form>
    </div>
</body>